em {
  color: DarkGreen
}

img {
  padding:4px !important;
  border-radius:4px;
  border:1px solid #ddd
}

.telefonska-stevilka {
  color: purple;
  font-weight: bold;
}

#kontakt {
  padding-left:30px;
}

th, td {
  text-align:left;
  padding:5px
}

table th {
  border-bottom:1px solid gray
}

a {
  color:red;
  text-decoration: none
}

a:hover {
  text-decoration: underline
}
